.top-part {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
h1 {
    font-size: xxx-large;
}
.desc {
    font-size: 1em;
    margin-top: -1em;
}
.button {
    background-color: black;
    color: white;
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em;
    transition: all 0.2s ease-in-out;
    box-shadow: 0em 0em 1em black;
}
.button:hover {
    background-color: white;
    color: black;
}
